<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MappingFile" value="C:\jobs\BMC.SmartDigitalSignage\BMC.SmartDigitalSignage\bin\Debug\Mapping.txt"/>
  </appSettings>
</configuration>