<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SlideInterval" value="5000"/>
    <add key="DetectorInterval" value="2000"/>
    <add key="MappingFile" value="C:\jobs\BMC.SmartDigitalSignage\Src\BMC.SmartDigitalSignage\bin\Debug\Mapping.txt"/>
  </appSettings>
</configuration>